@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Alata|Open+Sans&display=swap');

#header {
    text-align: center;
    margin-bottom: 2%;
    font-family: "Open Sans";
}


#CCInfoDiv, #CustomerInfoDiv {
    margin-left: 10%;
    margin-right: 10%;
}

#CCInfoDiv label {
    font-family: "Alata";
}

#CCInfoDiv input {
    margin-bottom: 2%;
}

#CustomerInfoDiv label {
    font-family: "Alata";
}

#CustomerInfoDiv input {
    margin-bottom: 2%;
}