
/*
    Game Background Image source: 
    https://flic.kr/p/Y6B9L5'
    Author: anokarina
    License Name: Attribution-ShareAlike 2.0 Generic (CC BY-SA 2.0)
    License URI:  https://creativecommons.org/licenses/by-sa/2.0/
    No Modifications Made
*/

#dashboardContainer {
    width: 100%;
    height: 100%;
    /*margin: 2% 2%;*/
    /*border: 1px solid #000;
    box-shadow: #000 0px 5px 15px;*/
}

#gameCarousel {
    border: 2px solid rgba(0, 0, 0, 0.3);
}




#widgetOne {
    border: 1px solid #808080;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
    padding-top: 2em;
    padding-bottom: 5em;
}

#widgetOne table {
    text-align: center;
}

#widgetOne table th {
    padding-left: 13%;
}


#widgetTwo {
    border: 1px solid #808080;
    border-right: none;
    background-image: linear-gradient(to right, rgb(30, 30, 30), rgb(50, 50, 50));
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
    padding-top: 4em;
    padding-bottom: 4em;
}

#widgetThree {
    border-left: 1px solid #808080;
    box-shadow: rgba(255, 255, 255, 0.5) 0px -5px -10px;
    padding-top: 4em;
    padding-bottom: 4.8em;
    background-color: rgba(0, 0, 0, 0.75);
}

#widgetThree form {
    margin-left: 6%;
    margin-right: 6%;
}

#gameInsightsTitle {
    font-size: x-large;
    font-weight: 800;
    margin: 0;
    text-align: center;
    padding-bottom: 1em;
    color: #000;
}


#passwordLabel {
    color: #FFF;
}
 

#submissionDiv {
    padding-bottom: 2%;
}


#ryansRacerImage {
    height: 35em;
    width: 100%;
    filter: blur(3px);
}

#ryansRacerCaption {
    background-color: rgba(0, 0, 0, 0.4);
    top: 30%;
}

#captionTitle {
    color: #000;
}

#recentGamesTitle {
    color: rgba(255, 255, 255, 0.85);
    font-size: x-large;
    font-weight: 800;
    margin: 0;
    text-align: center;
    padding-bottom: 1em;
}

#accountSettingsTitle {
    color: rgba(255, 255, 255, 0.85);
    font-size: x-large;
    font-weight: 800;
    margin: 0;
    text-align: center;
    padding-bottom: 1em;
}

#captionDescription {
    color: #FFF;
}

#gameButtonsColumn {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px -20px #FFF;
}


#gameButton {
    height: 10%;
    width: 15%;
    margin: 0 1% 0 1%;
    padding: 1% 1%;
    border-radius: 20px;
    border: #000;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
    /*
    background-color: rgb(0, 197, 255) is a nice gradient value aswell
    */
    background-image: linear-gradient(to right, rgb(220, 220, 255), rgb(0, 197, 255));
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2);
    -webkit-transition: border-radius 0.5s;
}

    #gameButton:hover {
        opacity: 0.75;
        border-radius: 10px 100px / 120px;
        transition: all 2s ease;
    }
