@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');



.productForm {
    
    display: grid;
    margin-left: 15%;
    width: 100%;
    margin-top: 1%;
}


.purchaseTable td:nth-child(2) {
    width: 50%!important;
}

.productForm form {
    width: 100%;
    border-radius: 5px;
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
}


.purchaseTable {
    clear: both;
    width: 85%;
}


.gameInfoElement {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 2%;
    background: linear-gradient(#909090, #323232);
}

.gameInfoElement label {
    font-family: "Slabo";
    color: #FFF;
    font-size: 1.8em;
    margin-top: 5%;
    
}


#rowLabels {
    
    margin-left: 5%;

}


#rowInfo {
   
    margin-left: 5%;

}

.gameInfoElement input {
    width: 75%;
} 

#gameInfo {
    padding: 5% 5%;

}






#gameReviewsDiv {
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    margin-left: 7%;
    
}

.productPageCart {
    height: 155px;
    width: 100%;
    margin-top: 20px;
}

    .productPageCart[disabled] {
        pointer-events: none;
        opacity: 0.7;
    }

    .containerGlyphIcon {
        display: inline-block;
        margin-top: 2px;
    }

.productPageDiv {
    margin: auto;
    width: 100%;
}



.scrollCart {
    height: 90px;
    overflow-y: scroll;
}

#gameImageDiv {
    margin-top: 1%;
    width: 50%;
   
}


#gameFormColumn {
    margin: 0 auto;
}

#reviewItem {
    color: #FFF;
    background: linear-gradient(#0c0c0c, #090909);
    opacity: 0.75;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0px 3px 10px #323232;
    padding: 1% 1%;
    margin-bottom: 5%;
}

#reviewItem h2 {
    font-weight: bolder;
    font-family: "Slabo";
}

    #reviewItem h4 {
        text-align: left;
        margin-left: 15%;
        margin-right: 15%;
    }

Popup {
    box-shadow: 0px 3px 10px #323232;
}

#newReviewColumn {
    margin: 1% 1%;
    border-radius: 20px;
  
}

#newReviewColumn textarea {
    resize: none;
    padding:3% 3%;
    margin-bottom: 5%;
}

#newReviewDiv {
    padding: 5% 5%;
    margin: 2% 2%;

}

#newReviewDiv label {
    text-align: center;
    margin: 0 auto;
    font-family: "Slabo";
    font-weight: bolder;
    font-size: 2.5em;
}

#newReviewDiv button {
    margin-right: 1%;
  
}

