



.productForm {
    
    display: grid;
    width: 100%;
    margin-top: 1%;
}


.purchaseTable td:nth-child(2) {
    width: 50%!important;
}

.productForm form {
    width: 390px;
    border-radius: 5px;
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
}


.purchaseTable {
    clear: both;
    width: 85%;
}


.gameInfoElement {
    margin-left: 20%;
    margin-bottom: 2%;
    margin-top: 2%;
    background: linear-gradient(#4F4F4F, #7F7F7F, #9E9E9E);
}

#gameInfo {
    padding: 1% 1%;

}

#gameInfo input {
    margin-bottom: 6%;
}

#gameReviewsDiv {
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    
}

.productPageCart {
    height: 155px;
    width: 100%;
    margin-top: 20px;
}

    .productPageCart[disabled] {
        pointer-events: none;
        opacity: 0.7;
    }

    .containerGlyphIcon {
        display: inline-block;
        margin-top: 2px;
    }

.productPageDiv {
    margin: auto;
    width: 100%;
}

.cartPanel {
}

.accordionPanel {
}

.scrollCart {
    height: 90px;
    overflow-y: scroll;
}

#gameImageDiv {
    margin-top: 1%;
    width: 50%;
   
}


#gameFormColumn {
    margin: 0 auto;
}

#reviewItem {
    color: #FFF;
    background: linear-gradient(#4F4F4F, #7F7F7F, #9E9E9E);
}

