body {
}

.myTableRow {
    border-bottom: 1pt solid black;
}

#wishlist_gameImage {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

#gameInfoDiv {
    display: inline-block;
    margin-left: 10px;
}

.buttons {
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
}