body {
}

.myTableRow {
    border-bottom: 1pt solid black;
}

#gameImage {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

#gameInfoDiv {
    display: inline-block;
    margin-left: 10px;
}